@font-face {
  font-family: 'Roboto, Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Regular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Thin';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

$thresholdMobile: 500px;
$thresholdTablet: 750px;

$gray: rgb(20, 20, 20);
$gray-gradient: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(59, 57, 57, 1) 100%);
$lightgray: rgb(240, 240, 240);

html {
  background: rgb(5, 5, 5);
  scroll-behavior: smooth;
  margin-top: -8px;
}

body {
  position: relative;
  //background: url("assets/img/bkg-pattern-dark-light-split.jpg") no-repeat center center fixed;
  //background: url("assets/img/bkg-forest.jpg") no-repeat center center fixed;
  background: url("assets/img/nola-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto, Thin';
  width: 100%;

  //animation-name: bg-slow-scroll;
  //animation-duration: 20s;
  //animation-delay: 0s;

  a:link {
    color: #63c84e;
  }
  /* visited link */
  a:visited {
    color: #63c84e;
  }

  h1, h2, h3, h4 {
    transition: all 0.25s ease;
  }

  h1:hover, h2:hover, h3:hover, h4:hover {
    transform: scale(1.1);
  }
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

.full-height {
  height: 100%;
}

.glass {
  backdrop-filter: blur(3px);
  background-color: rgba(white, 0.825);
  box-shadow: 2px 2px 2px rgba(black, 0.7);
}

.site-wrapper {

  .site-wrapper-inner {
    position: relative;

    .nav {
      @extend .glass;
      opacity: 0;
      z-index: 10;
      width: 350px;
      margin: 0 auto;
      position: absolute;
      top: 10px;
      height: 44px;

      a {
        cursor: pointer;
        text-align: center;
        color: black;

        div {
          $sizeMargin: 15px;
          height: 44px;
          line-height: 44px;
          width: 90px;
          transition: all 50ms;
        }

        div:hover {
          color: $gray;
          border-bottom: none;
          text-decoration: none;
          text-underline: none;
          background-color: rgba(white,0.7);
          box-shadow: 2px 2px 5px rgba(black, 0.2);
        }

        div:focus, div:active {
          box-shadow: none;
          background-color: rgba(white,0.7);
        }
      }

      a:first-child {
        div {
          margin-left: 35px;
        }
      }

      a:hover {
        text-decoration: none;
      }
    }

    .nav-left {
      clip-path: polygon(0 0, 100% 0%, calc(100% - 44px) 100%, 0 100%);
      left: 0;
      display: none;
    }

    .nav-right, .nav-right-print {
      clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 44px) 100%);
      right: 0;
    }

    .nav-right-print {
      transition: all .5s linear;
      right: -50px;
      //right: 0px;
      //opacity: 0;
      top: 10px;
      position: fixed;
      display: block;
      background-color: rgba(white, 0.75);
      //width: 150px;
      width: 200px;

      a:first-child {
        div {
          margin-left: 44px;
        }
      }

      a {
        color: white;

        div {
          width: 50px;
          float: left;
          color: black;
        }
      }
    }


    .nav-right-print.sticky {
      opacity: 1;
      right: 0;
      background-color: rgba(black, 0.75) !important;

      i {
        color: white;
      }
    }

    .cover-container {
      position: relative;
      height: 100vh;
      margin: 0 auto;
      text-align: center;
      font-weight: 300;
      transition: all 1s;
      opacity: 0;

      .glass-panel-bkg, .glass-panel {
        max-width: 600px;
        max-height: 600px;
        $size: 40vw;
        width: $size;
        height: $size;
        z-index: 1;
      }

      .glass-panel-bkg {
        @extend .glass;
        box-shadow: 2px 2px 2px rgba(black, 0.7);
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);

        //background: url("assets/img/site-pic-me.png") no-repeat center center fixed;
        //background-size: cover;
      }

      .glass-panel {
        position: relative;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        color: $gray-gradient;
        //color: white;

        .profile-cont {
          position: relative;
          margin: auto;
          width: 150px;
          height: 150px;

          @media (max-width: 1300px) {
            top: -30px;
            width: 10vw;
            height: 10vw;
          }

          @media (max-width: 850px) {
            visibility: hidden;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        &-content {
          transition: all 1s;
          transition-delay: 1s;

          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          //opacity: 0;
        }

        h1 {
          display: inline-block;
          margin-bottom: 20px;
          font-size: 1.52em;
          text-shadow: 1px 1px 3px darkgrey;

          @media (max-width: $thresholdMobile) {
            font-size: 1.12em;
          }
        }

        p {
          font-size: .88em;
          text-shadow: 1px 1px 3px darkgrey;
        }

        .scroll-to-arrow {
          //box-shadow: 2px 2px 2px rgba(black, 0.35);
          border: 2px solid white;
          background-image: $gray-gradient;
          position: absolute;
          padding: 5px;
          width: 40px;
          height: 40px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);

          i {
            color: white;
            height: 100%;
            line-height: 100%;
            padding-top: 6px;
            vertical-align: middle;
            transform: rotate(-45deg);
          }
        }

        .scroll-to-arrow:hover {
          //transform: scale(1.2) rotate(45deg) translateX(-50%) translateY(50%);
          box-shadow: 2px 2px 2px rgba(black, 0.25);
        }

        .scroll-to-arrow:focus, .scroll-to-arrow:active {
          outline: none;
        }

        .scroll-to-arrow:not(:hover) {
          @extend .anim-pulse-sa;
        }
      }

    }

  }
}

.sticky {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}

.user-icon:hover {
  @extend .tran-fun;
}

.resume {
  $menuSize: 280px;
  width: calc(100% - 0px);
  margin-left: 0px;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .resume-menu {
    //float: left;
    min-width: $menuSize;
    max-width: $menuSize;
    width: $menuSize;
    height: 100vh;
    background-image: $gray-gradient;
    text-align: center;
    color: white;

    .profile {
      position: relative;
      text-align: center;

      img {
        width: calc(#{$menuSize} * .6);
        padding: 20px;
      }
    }

    h4 {
      margin-bottom: 7vh;
      font-size: 17px;
      text-transform: uppercase;
      color: white;
    }

    a {
      width: 100%;
      height: 100%;

      .menu-btn {
        width: 100%;
        height: 44px;
        line-height: 44px;
        background: transparent;
        border: none;
        color: white;
        text-align: left;
        padding-left: 13px;
        margin-left: 40px;
        font-size: 13.5px;
        //margin-top: 1.5vh;
        transition-duration: .25s;
        transition-property: all;
      }
    }

    .sub-menu {
      height: 0;
      overflow: hidden;
      transition: 1s;
      transition-property: all;

      .menu-btn {
        height: 35px;
        line-height: 35px;
        font-size: 12.5px;
        margin-left: 55px;
      }

      .menu-btn:before {
        content: '\2022';
      }
    }

    .sub-menu.sub-menu-full {
      height: auto;
    }

    a:focus, a:active, .menu-btn-focused {
      outline: none;

      .menu-btn {
        border: none;
        color: black;
        background: white;
      }
    }

    a:hover {
      text-decoration: none;

      .menu-btn {
        outline: none;
        background: rgba(white,0.15);
      }
    }
  }

  .resume-content {
    width: inherit;
    position: relative;
    height: auto;
    overflow-y: scroll;
    padding: 0;

    h3 {
      font-size: 1.5em;
    }

    h3:hover {
      @extend .tran-grow
    }

    &-container {
      width: 80%;
      margin: 0 auto;
      max-width: 950px;
    }

    .resume-personal-info,
    .resume-experience,
    .resume-languages,
    .resume-references,
    .resume-education,
    .resume-skills,
    .resume-technology {
      $hPad: 3vh;
      height: auto;
      padding-top: 8vh;
      padding-bottom: 8vh;
      padding-left: 8%;
      padding-right: 8%;

      @media (max-width: $thresholdMobile) {
        padding-left: 0;
        padding-right: 0;
      }

      .user-icon {
        $userIconSize: 65px;
        border-radius: 50%;
        background-image: $gray-gradient;
        height: $userIconSize;
        width: $userIconSize;
        line-height: $userIconSize;
        margin: 0 auto $hPad auto;
        text-align: center;

        svg, i {
          fill: white;
          color: white;
        }

        i {
          font-size: 32px;
          line-height: 32px;
          vertical-align: middle;
        }
      }

      h3 {
        text-align: center;
        margin-bottom: calc(#{$hPad} * 2);
      }
    }

    .resume-personal-info,
    .resume-education {
      padding-left: 10vw;
      padding-right: 10vw;

      @media (max-width: $thresholdMobile) {
        padding-left: 2vw;
        padding-right: 2vw;
      }
    }

    .resume-personal-info, .resume-experience, .resume-languages, .resume-references {
      background-color: white;
    }

    .resume-education, .resume-skills, .resume-technology {
      background: $lightgray;
    }

    .resume-personal-info {
      .row {
        padding-top: 10px;
        width: 370px;
        margin: 0 auto;
      }

      .row-key {
        font-family: 'Roboto, Bold';
        width: 120px;
        display: inline;
        text-align: left;
        padding: 0;
      }

      .row-value {
        width: 250px;
        font-weight: 300;
        display: inline;
        text-align: left;
        padding: 0;

        @media (max-width: $thresholdMobile) {
          font-size: 0.9em;
        }
      }

      @media (max-width: $thresholdMobile) {
        .row {
          width: 100%;
        }
        .row-key {
          display: block;
          width: 100%;
          text-align: center;
        }
        .row-value {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .resume-experience {
      .row {
        margin-bottom: 40px;
        padding-top: 40px;
      }

      .col-3 {
        font-style: italic;
      }

      .col-9 {
        .job-name {
          font-family: Roboto, Bold;
        }

        .job-description {
          font-size: 13.5px;
        }
      }
    }

    .resume-skills {
      h4 {
        font-size: 19px;
      }

      .col {
        padding: 20px;
      }

      .rating-circle-block {
        text-align: center;

        bcd-rating-circle {
          width: 120px;
          height: 120px;
          margin: 0 auto;
          --bcd-rating-fill-color: #63c84e;
          --bcd-rating-border-color: #63c84e;
        }
      }
    }

    //.resume-skills,
    .resume-languages {
      .row {
        vertical-align: middle;
        min-width: 300px;
        max-width: 700px;
        margin: 0 auto;
        transition: all .25s;

        .col-lang {
          text-align: left;
        }

        .col-lang-rating {
          text-align: right;
        }

        div {
          text-align: center;
          padding: 10px;

          bcd-rating {
            padding: 5px;
            --bcd-rating-border-color: black;
            --bcd-rating-empty-color: white;
            --bcd-rating-fill-color: black;
            --bcd-rating-hover-border-color: black;
            //--bcd-rating-border-width: 0;
            --bcd-rating-border-width: 2px;
            --bcd-rating-size: 12px;
          }

          @media (max-width: $thresholdMobile) {
            bcd-rating {
              --bcd-rating-size: 9px;
            }
          }
        }
      }

      .row:hover {
        background-color: white;
        font-weight: 900;
        font-size: 17px;
        transform: scale(1.025);
      }
    }

    .resume-languages {
      .row:hover {
        background-color: $lightgray;
      }
    }

    .resume-technology {
      .row {
        width: 80%;
        min-width: 300px;
        margin: 0 auto;
      }
    }

    .resume-references {
      h4 {
        text-align: center;
        font-style: italic;
        font-size: 18px;
      }
    }

    .resume-education {
      .education-row {
        border-bottom: 0.55px solid rgba($gray, 0.7);
        margin-bottom: 30px;
        padding: 15px;

        .col-3 {
          border-right: 0.55px solid rgba($gray, 0.7);
          text-align: right;
        }

        .col-9 {
          .row {
            padding-left: 25px;
            font-weight: 300;
            font-size: 15px;
          }

          .row:first-child {
            font-weight: 900;
            font-size: 17px;
          }

          .row:last-child {
            font-style: italic;
          }
        }
      }
    }
  }
}

.text-right {
  text-align: right;
}

.project-containers {
  position: relative;
  left: 55px;

  @media (max-width: $thresholdMobile) {
    left: 5px;
  }

  li {
    transition: all 2.5s ease;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  li:hover {
    //box-shadow: 1px 2px 5px rgba(black, 0.1);
    //border: 1px solid gainsboro;
    //position: relative;
    //padding: 20px;
    //left: -20px;
  }
}

.show-pdf {
  display: none;
}

.hide-pdf {
  display: initial;
}

.ds-slide-in-left {
  transition: all .25s ease;
  transform: translateX(-100%);
  opacity: 0;
}

.ds-slide-in-left-in {
  transform: translateX(0);
  opacity: 1 !important;
}

.ds-slide-in-left-out {
  opacity: 0;
  transform: translateX(-100%);
}

.ds-slide-in-right {
  transition: all .25s ease;
  transform: translateX(100%);
  opacity: 0;
}

.ds-slide-in-right-in {
  transform: translateX(0%);
  opacity: 1 !important;
}

.ds-slide-in-right-out {
  transform: translateX(100%);
  opacity: 0;
}

.nav-left[data-scroll] {
  @extend .ds-slide-in-left;
}

.nav-left[data-scroll="in"] {
  @extend .ds-slide-in-left-in;
}

.nav-left[data-scroll="out"] {
  @extend .ds-slide-in-left-out;
}

.nav-right[data-scroll] {
  @extend .ds-slide-in-right;
}

.nav-right[data-scroll="in"] {
  @extend .ds-slide-in-right-in;
}

.nav-right[data-scroll="out"] {
  @extend .ds-slide-in-right-out;
}

.ds-base {
  transition: opacity 1s, bottom 1s;
  position: relative;
  opacity: 0;
  bottom: -70px;
}

.ds-base-in {
  bottom: 0;
  opacity: 1;
}

.ds-base-out {
  bottom: -70px;
  opacity: 0;
}

p[data-scroll], h3[data-scroll], li[data-scroll] {
  @extend .ds-base;
}

ul[data-scroll] {
  li {
    @extend .ds-base;
  }
}

p[data-scroll="in"], h3[data-scroll="in"], li[data-scroll="in"] {
  @extend .ds-base-in;
}

ul[data-scroll="in"] {
  li {
    @extend .ds-base-in;
  }
}

p[data-scroll="out"], h3[data-scroll="out"], li[data-scroll="out"] {
  @extend .ds-base-out;
}

ul[data-scroll="out"] {
  li {
    @extend .ds-base-out;
  }
}

.resume-content {
  z-index: 2;

  [data-scroll] {
    .resume-content-container {
      @extend .ds-base;
    }
  }

  [data-scroll="in"] {
    .resume-content-container {
      @extend .ds-base-in;
    }
  }

  [data-scroll="out"] {
    .resume-content-container {
      @extend .ds-base-out;
    }
  }
}

.loaded {
  opacity: 1 !important;
}

.anim-slide-up {
  position: relative;
  bottom: -50px;
  opacity: 0;
  animation-name: kf-slide-up;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


.anim-typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: kf-typing 3.5s steps(40, end), kf-blink-caret .75s step-end infinite;
}

.anim-pulse {
  transform: scale(1);
  animation: kf-pulse 2s infinite;
}

.anim-pulse-sa {
  transform: scale(1);
  animation: kf-pulse-sa 2s ease-in infinite;
}

.anim-fun {
  animation-name: kf-fun;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.tran-grow {
  transition: .5s;
}

.tran-grow:hover {
  transform: scale(1.025);
  text-shadow: 1px 1px 1px rgba(black, 0.2);
}

.tran-fun {
  transition: .25s;
}

.tran-fun:hover {
  transform: rotate(360deg) scale(1.15);
  //box-shadow: 1px 1px 3px rgba(black, 0.8);
}

@keyframes bg-slow-scroll {
  0% {
    //background-position-x: -10px;
    //transform: scale(1);
  }
  50% {
    //background-position-x: 10px;
    //transform: scale(1.01);
  }
  100% {
    //background-position-x: 0;
    //transform: scale(1);
  }
}

@keyframes kf-slide-up {
  100% {
    bottom: 0;
    opacity: 1;
  }
}

/* The typing effect */
@keyframes kf-typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes kf-blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #28fe13;
  }
}

@keyframes kf-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

@keyframes kf-pulse-sa {
  0% {
    transform: translateX(-50%) scale(1) rotate(45deg);
  }
  50% {
    transform: translateX(-50%) scale(1.2) rotate(45deg);
  }
  100% {
    transform: translateX(-50%) scale(1) rotate(45deg);
  }
}

@keyframes kf-fun {
  0% {

  }
  90% {
    transform: rotate(360deg) scale(1.15);
    box-shadow: 1px 1px 2px #888888;
  }
}
