@font-face {
  font-family: 'Roboto, Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Regular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Thin';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

$gray: rgb(20, 20, 20);
$gray-gradient: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(59, 57, 57, 1) 100%);
$lightgray: rgb(240, 240, 240);
$pdfGray: rgb(120,120,120);

html {
  background: white;
}

body {
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

.cover-container {
  display: none;
}

.full-height {
  height: auto;
}

.nav {
  display: none;
}

$menuSize: 300px;


.desktop-experience {
  display: none;
}

.mobile-experience {
  display: grid !important;
}

.site-wrapper {

  .site-wrapper-inner {
    .resume-content {

      .resume-content-container {
        width: 90%;

        h2 {
          text-align: center;
        }

        .user-icon {
          margin-bottom: 10px;
        }

        h3 {
          margin-bottom: 25px;
          font-size: 1.2em;
        }

        .job-name {
          font-size: 1.2em;
          width: 100%;
          margin-top: 50px;
        }

        .job-time {
          border-bottom: 1px solid black;
        }

        .job-title {
          font-family: 'Roboto';
          margin-top: 25px;
          margin-bottom: 5px;
          .job-time {
            border: none;
          }
        }

        .project-containers {
          .job-name {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
