@font-face {
  font-family: 'Roboto, Bold';
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Regular';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto, Thin';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

$gray: rgb(20, 20, 20);
$gray-gradient: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(59, 57, 57, 1) 100%);
$lightgray: rgb(240, 240, 240);
$pdfGray: rgb(120,120,120);

html {
  background: white;
}

body {
  position: relative;
  font-family: 'Roboto, Thin';
  height: 15.5in;
  width: 10.8in;
  margin: 0 auto;
  //border: 1px solid gray;
}

.affix {
  top: 20px;
  z-index: 9999 !important;
}

.full-height {
  height: auto;
}

.nav {
  display: none;
}

$menuSize: 300px;

.site-wrapper {
  margin: 3px;
  height: 100%;

  .site-wrapper-inner {
    height: 100%;

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .cover-container {
      display: none;
    }

    .resume {
      position: relative;
      height: 100%;

      .user-icon {
        display: none;
      }

      .resume-menu {
        margin-left: 11px;
        margin-top: -3px;
        height: 100%;
        border-right: 1px solid $gray;
        color: $gray;
        text-align: center;
        width: $menuSize;
        min-width: $menuSize;
        max-width: $menuSize;

        a {
          visibility: hidden;
          text-underline: none;
          text-decoration: none;
        }

        .profile {
          visibility: visible;
          img {
            $isize: 80px;
            position: absolute;
            top: 95px;
            width: $isize;
            height: $isize;
            left: 50%;
            transform: translateX(-60%);
          }
        }

        .sub-menu {
          display: none;
        }

        h4 {
          visibility: visible;
          color: $gray;
          font-size: 28px;
          margin-top: 30px;
        }
      }

      .col {
        position: static !important;
      }

      .resume-content {
        padding: 0;
        margin-right: 11px;

        &-container {
          padding: 25px;

          h3 {
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 600;
          }

          bcd-rating-circle {
            display: none;
          }
        }

        .resume-personal-info {
          .row {
            font-size: 15px;
          }

          .row-key {
            font-family: Roboto, Bold;
            width: 165px;
          }
        }

        .resume-education {
          background-color: $lightgray;

          .education-row {
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .col-9 {
            .row:first-child {
              font-size: 16px;
              font-family: Roboto, Bold;
            }
            .row:last-child {
              font-style: italic;
            }
          }
        }

        .resume-experience {
          .row {
            padding-top: 8px;
            padding-bottom: 8px;
          }

          .job-name {
            font-size: 16px;
            font-family: Roboto, Bold;
          }

          .job-title {
            font-size: 14px;
            font-family: Roboto, Regular;
          }

          .job-description {
            font-size: 11.5px;
          }
        }

        .resume-skills, .resume-languages, .resume-technology, .resume-references {
          padding: 15px 0 15px 0;

          .row {
            font-size: 15px;
          }
        }

        .resume-skills {
          position: absolute;
          top: 50px;
          left: 0;
          width: $menuSize;
          text-align: center;

          .row {
            div {
              width: 100%;
              min-width: 100%;
            }
            h4 {
              font-size: 15.0px;
              color: $pdfGray;
            }
          }
        }

        .resume-languages {
          position: absolute;
          top: 430px;
          left: 0;
          width: $menuSize;
          text-align: center;

          .row {
            margin-left: 7px;
            text-align: center;
            padding: 3px;

            .col-lang {
              color: $pdfGray;
              padding-right: 0;
              text-align: left;
              font-size: 15px;
              width: 90px;
              min-width: 90px;
            }

            .col-lang-rating {
              width: 100px;
              max-width: 100px;

              bcd-rating {
                --bcd-rating-size: 7px;
                --bcd-rating-border-width: 1;
                --bcd-rating-empty-color: #c0c0c0;
                --bcd-rating-border-color: #c0c0c0;
              }
            }
          }
        }

        .resume-technology {
          position: absolute;
          top: 970px;
          left: 0;
          width: $menuSize;
          color: $gray;
          text-align: center;

          .row {
            text-align: center;
            color: $pdfGray;
            font-size: 15px;
            line-height: 25px;
          }
        }

        .resume-references {
          position: absolute;
          top: 1330px;
          left: 0;
          text-align: center;

          h4 {
            font-size: 16px;
            font-style: italic;
          }
        }

        .show-pdf {
          display: initial;
        }

        .hide-pdf {
          display: none;
        }

      }
    }
  }
}

